{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} tag of the default.hbs template --}}



<style>
  .article-title {
    margin-top:-1em;
  }
</style>


  <div class="site-header-content">
      <h1 class="site-title">
          Aktuelles
      </h1>
  </div>


    <main id="site-main" class="site-main outer">
        <div class="inner posts">

            <div class="post-feed">
                {{#foreach posts}}

                    {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                    {{> "post-card"}}

                {{/foreach}}
            </div>

        </div>
    </main>
